META-INF/
__pycache__
out/
*~*
tempCodeRunnerFile.*
.DS_Store
.vscode
thumbs.db
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse
# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
